<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<style>
    .card{
        background: rgb(255, 255, 255, 0.21);
        border-radius: 10px;
        box-shadow: 0 4px 30px black;
        backdrop-filter: blur(9px);
        border-left: 2px solid rgb(255, 255, 255, 0.58);
        border-top: 2px solid rgb(255, 255, 255, 0.58);
    }
    .sugestedPokemon{
        cursor: pointer;
    }
</style>
<body>

    <div id="app">
        <div class="container-fluid bg-dark bg-gradient">
            <div class="container bg-dark " style="min-height: 100vh;">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <img src="img/logo1.png" alt="" style="width: 100%;">
                    </div>
                </div>

                <!-- search -->
                <div class="row justify-content-center mt-5 text-white">
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="search pokemon" v-model="search">
                        <div class="mt-2">
                            <label for="" >Sugestion : <span v-for="i in sugestedPokemon" class="sugestedPokemon" @click="viewDetailPokemon(i.name)">{{ i.name }} |</span></label>

                        </div>
                    </div>
                </div>

                <div class="main mt-5 pt-5">
                    <!-- munculin semua pokemon -->
                    <div class="view-all text-white" v-if="!viewedAsDetail">
                        <div class="row px-5">
                            <div class="col-12 col-md-4 col-lg-3 mb-3" v-for="item in pokemonList" @click="viewDetailPokemon(item.name)">
                                <div class="card text-center text-white" >
                                    <img :src="item.sprites.front_default" alt="picture pokemon">
                                    <label for="" style="font-size: 18px; ">{{item.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- muncul detail pokemon yang dipilih -->
                    <div class="view-detail text-white" v-else>
                        <div class="mb-5">
                            <button @click="viewedAsDetail=false">View All Pokemon</button>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <img :src="selectedPokemon.sprites.front_default" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <h2>Name : {{selectedPokemon.name}}</h2>
                                <p>
                                    <label for="">Type : </label><br>
                                    <span v-for="i in selectedPokemon.types">
                                        {{i.type.name}} |
                                    </span>
                                </p>
                                <p>
                                    <label for="">Skills : </label><br>
                                    <span v-for="i in selectedPokemon.moves">
                                        {{i.move.name}} |
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        data() {
            return {
                pokemonList: [],
                viewedAsDetail: false,
                selectedPokemon: '',
                search: '',
                gen1Pokemon: [],
                sugestedPokemon: ''
            }
        },
        methods: {
            async getListPokemon(){
                const response = await fetch("https://pokeapi.co/api/v2/pokemon");
                const data = await response.json();
                let results = data.results;

                results.forEach(item => {
                    this.getEachPokemon(item)
                });
            },
            async getEachPokemon(result){
                const response = await fetch("https://pokeapi.co/api/v2/pokemon/"+result.name);
                const data = await response.json();

                this.pokemonList.push(data)
                this.pokemonList.sort((a,b) => a.id -b.id)
            },

            async viewDetailPokemon(pokemonName){
                const response = await fetch("https://pokeapi.co/api/v2/pokemon/"+pokemonName);
                const data = await response.json();
                this.viewedAsDetail = true
                this.selectedPokemon = data
            },

            async getGen1Pokemon(){
                const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
                const data = await response.json();
                let result = data.results

                this.gen1Pokemon = result


            }
        },
        watch: {
            search(){
                let filteredPokemon = this.gen1Pokemon.filter(item => {
                    return item.name.includes(this.search)
                })

                this.sugestedPokemon = filteredPokemon.slice(0, 5)
            }
        },
        mounted() {
            this.getListPokemon();
            this.getGen1Pokemon();
        }

    }).mount('#app')
    </script>

</body>
</html>